::ng-deep .node {
    cursor: pointer;
}

::ng-deep .node circle {
    fill: #fff;
    stroke: #D4D8DA;
    stroke-width: 1.5px;
}

::ng-deep .node text {
    font: 10px sans-serif;
}

::ng-deep .link {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2;
}