::ng-deep .node {
    cursor: pointer;
}

// ::ng-deep .node circle {
//     // stroke: #D4D8DA;
//     // stroke-width: 2;
// }

::ng-deep .node text {
    font-size: 10px;
}

::ng-deep path.link {
    fill: none;
    // stroke: #D4D8DA;
    // stroke-width: 2;
}

::ng-deep .tree-tooltip {
    position: absolute;
    z-index: 99;
    width: auto;
    height: auto;
    pointer-events: none;
    padding: 0.5em;
    background-color: rgba(255,255,255, 1);
}

::ng-deep #tree-chart svg {
    overflow: visible !important;
}