::ng-deep .timeline-color-0 {
    background-color: hsl(225,81%, 80%);
    border-color: hsl(225, 81%, 41%);
  }
::ng-deep .timeline-color-1 {
    background-color: hsl(192, 100%, 80%);
    border-color: hsl(192, 100%, 41%);
  }
::ng-deep .timeline-color-2 {
    background-color: hsl(152, 100%, 80%);
    border-color: hsl(152, 100%, 41%);
  }
::ng-deep .timeline-color-3 {
    background-color: hsl(110, 96%, 80%);
    border-color: hsl(110, 96%, 41%);
  }
::ng-deep .timeline-color-4 {
    background-color: hsl(48, 100%, 80%);
    border-color: hsl(48, 100%, 41%);
  }
::ng-deep .timeline-color-5 {
    background-color:   hsl(35, 100%, 80%);
    border-color:   hsl(35, 100%, 41%);
  }
::ng-deep .timeline-color-6 {
    background-color: hsl(11, 100%, 80%);
    border-color: hsl(11, 100%, 41%);
  }
::ng-deep .timeline-color-7 {
    background-color:   hsl(282, 97%, 80%);
    border-color:   hsl(282, 97%, 41%);
  }
::ng-deep .timeline-color-8 {
    background-color: hsl(310, 81%, 80%);
    border-color: hsl(310, 81%, 41%);
  }
::ng-deep .timeline-color-9 {
    background-color: hsl(341, 81%, 80%);
    border-color: hsl(341, 81%, 41%);
  }
  