::ng-deep text {
    font-family: sans-serif;
    fill: #000000;
}

::ng-deep .non_brushed {
    opacity: 0.75;
    stroke: #5d5d5d;
    stroke-width: 4px;
    &:hover {
        opacity: 1;
        stroke: #00d1b2;
        stroke-width: 4px;
    }
}

::ng-deep #scatter-plot svg {
    overflow: visible;
}

::ng-deep .scatter-tooltip {
    position: absolute;
    z-index: 99;
    width: auto;
    height: auto;
    pointer-events: none;
    background-color: rgba(255,255,255,0.75);
    .scatterplot-cluster-point {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }  
    .scatterplot-profile-pic {
        border: 4px solid;
        width: 35px;
        border-radius: 50%;
        height: 35px;
        margin-right: 0.5em;
    }
}