<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" class="resume-drawer">
    <p *ngIf="getComparedResumes().length === 0">Nothing added ;(</p>
    <div *ngFor="let r of getComparedResumes()">
      <p>{{ r.firstName }} {{ r.lastName }}</p>
      <button mat-mini-fab color="warn" (click)="delete(r.id)"><mat-icon>clear</mat-icon></button>
    </div>
  </mat-drawer>
  <div>
    <button class="fixed-button" type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon>{{ drawer.opened ? 'clear' : 'menu' }}</mat-icon></button>
    <div class="progress" *ngIf="loading">
      <div class="indeterminate"></div>
    </div>
    <div *ngIf="!loading" class="search">
      <div>
        <app-search (results)="update($event)"></app-search>
      </div>
      <div *ngIf="showScatterPlot" class="scatter-plot">
        <app-scatterplot [points]="scatterPlotPoints" (selection)="selectResumes($event)"></app-scatterplot>
      </div>
    </div>
    <div *ngIf="!loading" class="list-wrapper" #listWrapper>
      <div class="ordering">
          <mat-form-field>
              <mat-select placeholder="Order by:" (selectionChange)="reorderResumes($event)">
                  <mat-option *ngFor="let ordering of resumeOrdering" [value]="ordering.value">{{ ordering.display }}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <!-- <button mat-icon-button (click)="scrollDown()" color="primary"><mat-icon>expand_more</mat-icon></button> -->
      <div *ngFor="let resume of resumes; let idx = index" class="list-entry-wrapper">
        <mat-card [ngClass]="{'selected': resume.selected}" class="list-entry">
          <mat-card-header>
            <div class="list-entry-avatar" mat-card-avatar [style.backgroundImage]="getSanitizedPicture(resume.profilePicture)">
              <div class="list-entry-avatar-overlay">
                <a class="view" [link]="'/view/' + resume.id" href="javascript:void(0)">VIEW</a>
              </div>
            </div>
            <mat-card-title><h2><span style="color: #00d1b2">{{ resume.firstName }}</span> <span style="color: #707070">{{ resume.lastName }} |</span> {{ getAge(resume.birthDay) }}</h2></mat-card-title>
            <mat-card-subtitle>{{ resume.label }} @ {{ resume.location.city }}, {{ resume.location.country }}</mat-card-subtitle>
            <div class="float-bottom">
                <div class="metrics-wrapper">
                    <span class="big-number">{{ getYearsOfExperience(resume)
                        }}<sup>+</sup></span>
                    <div class="metrics-detail">
                        <span class="yoe">YEARS OF</span>
                        <span class="yoe">EXPERIENCE</span>
                    </div>
                </div>
                <div class="metrics-wrapper">
                    <span class="big-number">{{
                        calculateAvgJobDuration(resume)
                        }}</span>
                    <div class="metrics-detail">
                        <span class="yoe">YEARS PER</span>
                        <span>JOB</span>
                    </div>
                </div>
                <div class="metrics-wrapper">
                    <span class="big-number">{{ getNumberOfLanguages(resume)
                        }}</span>
                    <div class="metrics-detail">
                        <span>LANGUAGES</span>
                        <span>KNOWN</span>
                    </div>
                </div>
                <div class="metrics-wrapper">
                    <span class="big-number">{{ getNumberOfLocations(resume)
                        }}</span>
                    <div class="metrics-detail">
                        <span>LOCATIONS</span>
                    </div>
                </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <!-- honors, certificates, awards-->
          </mat-card-content>
          <mat-card-actions class="list-actions">
            <button *ngIf="!resume.selected" mat-raised-button color="primary" (click)="add(idx)">
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="resume.selected" mat-raised-button color="warn" (click)="delete(resume.id)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="edit(idx)">
              <mat-icon>create</mat-icon>
            </button>
            <!-- TODO: add highlights section for things found from the query (langs/skills) -->
          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="cs.getResumes().length >= 2" class="compare-button-container">
        <button mat-raised-button color="primary" (click)="compareResumes()">COMPARE</button>
      </div>
    </div>
  </div>
</mat-drawer-container>  