.compare-button-container {
  display: block;
  /* display: flex */
  /* align-items: center; */
  /* align-self: center; */
  /* justify-content: center; */
  text-align: center;
  position: fixed;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 1em;
}

::ng-deep .resume-drawer {
  position: fixed !important ;
  width: 200px;
}

::ng-deep .fixed-button {
  position: fixed !important;
}

.search {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.list-entry-avatar {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .list-entry-avatar-overlay {
      opacity: 0;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.5;
      .list-entry-avatar-overlay {
        opacity: 1.0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 150px;
        height: 150px;
        > .view {
          text-decoration: none;
          font-size: 3em;
          color: #707070;
        }
      }
    }
}

::ng-deep .scatter-plot {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-content: center;
  justify-content: center;
}

.selected {
  border: 2px solid #00d1b2 !important;
  background-color: rgba(0, 209, 178, 0.2)
}
.list-entry-wrapper {
  padding: 1em;
}

.list-entry {
  padding-top: 1em;
  margin-bottom: 1em;
  width: 20em;
  height: 18em;
}

.mat-card {
  border: 2px solid transparent;
  // padding-top: 0em;
  // overflow: hidden;
}

.mat-card-avatar {
  border: 6px solid #00d1b2;
}

.mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mat-card-actions {
    margin: 0em;
    padding-top: 1em;
}

.list-actions {
  display: none;
}

.list-entry {
    &:hover,
    &:focus {
      .list-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -1.5em;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
}

// .default-avatar {
//   fill: red;
// }
