<div *ngIf="resumes.length === 0">
    <p>No resumes selected...</p>
</div>
<div *ngIf="resumes.length > 0">
    <div class="compare-navigation">
        <button mat-icon-button (click)="scrollTo(cards)">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollTo(skills)">
            <mat-icon>bar_chart</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollTo(timeline)">
            <mat-icon>timeline</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollTo(map)">
            <mat-icon>place</mat-icon>
        </button>
    </div>
    <div class="compare-wrapper">
        <div class="cards-compare" #cards>
            <mat-card *ngFor="let r of resumes; let idx = index" 
                [style.background-color]="!r.highlighted ? 'white' : getColor(r.id) + '1a'"
                [style.border-color]="getColor(r.id)">
                <button mat-icon-button (click)="remove(idx)" class="button-top-right" [style.color]="getColor(r.id)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleVisibility(idx)" class="button-top-left" [style.color]="getColor(r.id)">
                    <mat-icon>{{ r.highlighted ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-card-header>
                    <div class="list-entry-avatar" mat-card-avatar 
                        [style.border-color]="getColor(r.id)"
                        [style.backgroundImage]="getSanitizedPicture(r.profilePicture)" 
                        (click)="view(idx)">
                        <div class="list-entry-avatar-overlay">
                            <a class="view" href="javascript:void(0)">VIEW</a>
                        </div>
                    </div>
                    <mat-card-title>
                        <h2><span [style.color]="getColor(r.id)">{{ r.firstName }}</span> <span style="color: #707070">{{
                                r.lastName }} |</span> {{ getAge(r.birthDay) }}</h2>
                    </mat-card-title>
                    <mat-card-subtitle>{{ r.label }} @ {{ r.location.city }}, {{ r.location.country }}</mat-card-subtitle>
                    <div>
                        {{ calculateAvgJobDuration(r) }}
                    </div>
                    <div>
                        {{ getNumberOfLanguages(r) }}
                    </div>
                    <div>
                        {{ getNumberOfLocations(r) }}
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <!-- honors, certificates, awards-->
                </mat-card-content>
            </mat-card>
        </div>
        <div class="skill-compare" #skills>
            <div *ngIf="matchedSkills === 0">
                <p>Not enough data dimensions.</p>
            </div>
            <div *ngIf="matchedSkills === 1">
                <app-compare-lineplot [data]="skillData" (selectedResume)="highlightResume($event)"></app-compare-lineplot>
            </div>
            <div *ngIf="matchedSkills === 2">
                <app-compare-scatterplot ></app-compare-scatterplot>
            </div>
            <div *ngIf="matchedSkills >= 3">
                <app-radarchart [data]="skillData" (selectedResume)="highlightResume($event)"></app-radarchart>
            </div>
            <div class="tree-compare">
                <app-treechart [data]="treeChartData" (selectedResume)="highlightResume($event)"></app-treechart>
            </div>
        </div>

        <div class="language-compare">

        </div>
        <div class="timeline-compare" #timeline>
            <app-timeline [events]="timelineData" [groups]="timelineGroups" (selectedEvent)="onEventSelected($event)"></app-timeline>
        </div>
        <div class="map-compare" #map>
            <app-map [resumes]="mapData" (selectedResume)="highlightResume($event)" (selectedEvent)="onEventSelected($event)"></app-map>
        </div>
    </div>
</div>