.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cards cards cards cards" "skill-plot skill-plot skill-tree skill-tree" "timeline timeline timeline timeline" "map map map map";
    margin-left: 6em;
    margin-right: 6em;
}

.languages {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0.6em;
    margin-top: 1em;
    .language {
      background-size: cover;
      margin-bottom: 0.2em;
    }
  }

.cards { grid-area: cards; }

.skill-plot { 
    grid-area: skill-plot; 
    // could be empty give it min width
    min-width: 500px;
}

.skill-tree { grid-area: skill-tree; }

.timeline { grid-area: timeline; }

.map { grid-area: map; }

.cards-compare {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.compare-wrapper .cards, 
.compare-wrapper .skill-compare,
.compare-wrapper .cards {
    padding-bottom: 3em;
}

.compare-wrapper .timeline,
.compare-wrapper .map {
    padding-bottom: none !important;
}


.list-entry-avatar {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .list-entry-avatar-overlay {
    opacity: 0;
    }
    &:hover,
    &:focus {
    cursor: pointer;
    opacity: 0.5;
    .list-entry-avatar-overlay {
        opacity: 1.0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 150px;
        height: 150px;
        > .view {
        text-decoration: none;
        font-size: 3em;
        color: #707070;
        }
    }
    }
}

.button-top-right {
    position: absolute;
    top: 0em;
    right: 0em;
}
.button-top-middle {
    position: absolute;
    top: 0em;
    left: calc(50% - 20px);
}
.button-top-left {
    position: absolute;
    top: 0em;
    left: 0em;
}

.list-entry-wrapper {
    padding: 1em;
}

.list-entry {
    padding-top: 1em;
    margin-bottom: 1em;
    width: 20em;
    height: 18em;
}

.mat-card {
    margin: 0.5em;
    border-top: 6px solid;
    border-radius: 2% 2% 0 0;
    width:250px;
    height: 420px;
}

.big-number {
    font-size: 1.5em;
    width: 1.5em;
    font-weight: bold;
    &sup {
        color: inherit;
    }
}
// years of experience
.yoe {
    vertical-align: top;
}
.float-bottom {
    position:relative;
    bottom: 0.25em;
}

.metrics-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25em;
}

.metrics-detail {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 6em;
    color: rgba(0,0,0,.54);
}

.mat-card-avatar {
    border: 6px solid;
}

.mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
}

.ordering {
    position: absolute;
    top: 0.5em;
    left: 4em;
}

.compare-navigation {
    position: fixed;
    left: 0em;
    top: 30%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.compare-navigation button {
    margin-bottom: 5em;
}

.skill-compare {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

// .skill-compare,
// .tree-compare,
// .language-compare,
// .timeline-compare,
// .map-compare, {
//     margin-left: 6em;
//     margin-right: 6em;
// }
