<div *ngIf="loading" class="progress">
  <div class="indeterminate"></div>
</div>
<button mat-raised-button (click)="edit(resume.id)" color="accent">
  <mat-icon>build</mat-icon> Edit
</button>
<div class="grid-container">
  <div class="picture">
    <h2>General Information</h2>
    <img [src]="getProfilePicture(resume)" class="avatar">
  </div>
  <div class="general">
    <div>
      <div>
        <span class="name">{{ resume.firstName }} {{ resume.lastName }}</span>
        <span class="age">&nbsp;|&nbsp;{{ age }}</span>
      </div>
      <div class="occupation">
        <span>
          {{ resume.label }}
        </span>
      </div>
      <div class="occupation">
          <mat-icon>location_on</mat-icon>{{ resume.location.city }}, {{ resume.location.country }}
      </div>
      <div>
        <h4>Contact Information</h4>
        <span class="email">
          <mat-icon>email</mat-icon>{{ resume.email }}
        </span>
      </div>
      <div>
        <span class="phone">
          <mat-icon>phone</mat-icon>{{ resume.phone }}
        </span>
      </div>
      <div>
        <h4>Summary</h4>
        <span>{{ resume.summary }}</span>
      </div>
    </div>
  </div>
  <div class="languages">
    <h2>Languages</h2>
    <div class="language-wrapper" #languages></div>
  </div>
  <div class="skills">
    <h2>Skills</h2>
    <!-- <div class="skill-wrapper" #skills></div> -->
    <div id="skill-tree"></div>
  </div>
  <div class="timeline">
    <h2>Experience</h2>
    <div class="timeline-wrapper">
      <div class="timeline-control">
        <mat-form-field>
          <input matInput placeholder="Search by location" (keyup)="filterByLocation($event)" #locationFilter>
          <button mat-button *ngIf="locationFilter.value" matSuffix mat-icon-button aria-label="Clear" (click)="locationFilter.value=''; clearFilter();">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Search by event type" (selectionChange)="filterByEventType($event)" #eventFilter>
            <mat-option value="WORK">Work</mat-option>
            <mat-option value="EDUCATION">Education</mat-option>
            <mat-option value="PROJECT">Project</mat-option>
            <mat-option value="PUBLICATION">Publication</mat-option>
            <mat-option value="CERTIFICATE">Certificate/Award</mat-option>
          </mat-select>
          <button mat-button *ngIf="eventFilter.value" matSuffix mat-icon-button aria-label="Clear" (click)="eventFilter.value=''; clearFilter();">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div #timeline></div>
    </div>
  </div>
</div>