.general {
  display: flex;

  .name {
    font-size: 3em;
    color: #00d1b2;
    text-transform: uppercase;
  }
  .age {
    font-size: 3em;
    color: #454647;
  }

  .avatar {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    border: 10px solid #00d1b2;
  }
}

.skill {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
}
// SKILL STUFF
::ng-deep .slice {
   cursor: pointer;
}

::ng-deep .slice .main-arc {
   stroke: #fff;
   stroke-width: 1px;
}

::ng-deep .slice .hidden-arc {
   fill: none;
}

::ng-deep .slice text {
   pointer-events: none;
   dominant-baseline: middle;
   text-anchor: middle;
}
::ng-deep .label {
 font-family: 'Roboto', sans-serif;
}

.timeline {}
.language-wrapper {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
}
