<div class="cvthree-text-logo">
  <span class="gradient-text">{{ '{3}' }}</span>
</div>
<ul class="cvthree-nav">
  <li class="cvthree-nav-item"><a href="javascript:void(0)" routerLink="/home" [routerLinkActive]="['is-active']">Home</a></li>
  <!-- <li class="cvthree-nav-item"><a href="javascript:void(0)" routerLink="/add" [routerLinkActive]="['is-active']">Add</a></li> -->
  <li class="cvthree-nav-item"><a href="javascript:void(0)" routerLink="/list" [routerLinkActive]="['is-active']">List</a></li>
  <li class="cvthree-nav-item"><a href="javascript:void(0)" routerLink="/compare" [routerLinkActive]="['is-active']">Compare</a></li>
</ul>
