<div>
    <mat-form-field>
        <input matInput placeholder="Occupation" [(ngModel)]="query.searchOccupation" #occupation>
        <button mat-button *ngIf="occupation.value" matSuffix mat-icon-button aria-label="Clear" (click)="occupation.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Location" [(ngModel)]="query.searchLocation" #location>
        <button mat-button *ngIf="location.value" matSuffix mat-icon-button aria-label="Clear" (click)="location.value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    <mat-chip-list>
        <mat-chip *ngFor="let q of query.languages; let idx = index" selected="true" (removed)="removeLanguageQuery(idx)">
            {{ q.searchLanguage }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <mat-form-field>
        <input matInput placeholder="Language" #searchLanguage>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addLanguageQuery(searchLanguage)">
        <!-- searchLLevel -->
        <mat-icon>add</mat-icon>
    </button>
    <!-- <mat-form-field>
        <mat-select placeholder="Level" #searchLLevel>
            <mat-option *ngFor="let l of languageLevels()" [value]='l'>{{ l }}</mat-option>
        </mat-select>
    </mat-form-field> -->
</div>
<div>
    <mat-chip-list>
        <mat-chip *ngFor="let q of query.skills; let idx = index" selected="true" (removed)="removeSkillQuery(idx)">
            {{ q.searchSkill }} | {{ q.searchLevel }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <mat-form-field>
        <input matInput placeholder="Skill" #searchSkill>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Level" #searchSLevel>
            <mat-option *ngFor="let l of skillLevels()" [value]='l'>{{ l }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addSkillQuery(searchSkill, searchSLevel)">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="action-buttons">
    <button mat-icon-button color="primary" (click)="submit()">
        <mat-icon>search</mat-icon>
    </button>
</div>