.abstract {
    position: relative;
    top: 5em;
    font-style: italic;
    text-align: justify;
    font-family: 'Vollkorn', serif;
    padding: 2em;
    border-top: 2px solid #00d1b2;
    border-bottom: 2px solid #00d1b2;
}

.fast-forward {
    position: relative;
    margin: 0 auto;
}


.wrapper {
    width: 55%;
    height: auto;
    margin: 0 auto;
}

.start {
    position: relative;
    width: inherit;
    margin: 0 auto;
    top: 5em;
    text-align: center;
    a {
        i {
            font-size: 50px;
            color: #00d1b2;
            vertical-align: middle;
        }
    }
}